<%= form_with(model: frequentquestion) do |form| %>
  <% if frequentquestion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(frequentquestion.errors.count, "error") %> prohibited this frequentquestion from being saved:</h2>

      <ul>
        <% frequentquestion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= t('common.question')%>
    <%= form.text_field :question %>
  </div>

  <div>
    <%= t('common.answer') %>
    <%= form.text_area :answer %>
  </div>

  <div>
    <%= form.submit t('common.accept') %>
  </div>
<% end %>
