<div id="<%= dom_id frequentquestion %>">
  <p>
    <%= t('common.question')%>
    <%= frequentquestion.question %>
  </p>

  <p>
    <%= t('common.answer')%>
    <%= frequentquestion.answer %>
  </p>

</div>
