<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4" style="background-color: #f8f9fa; border-radius: 8px; border: 1px solid #ccc;">
        <%= form_with(model: message, class: "row g-3") do |form| %>
          <% if message.errors.any? %>
            <div class="col-12">
              <div class="alert alert-danger">
                <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
                <ul>
                  <% message.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

          <% if current_admin %>
            <div class="col-12">
              <div class="form-group">
                <%= form.label :state, t('.change_status'), class: "form-label" %>
                <%= form.select :state, options_for_select([ t('.pending'), t('.seen'), t('.answered')]), {}, class: 'form-control form-control-sm' %>
              </div>
            </div>
          <% end %>

          <div class="container text-center mt-4">
            <h1><%= t('.messenger_service')%></h1>
          </div>  
          <div class="col-12">
            <div class="form-group">
              <%= form.label :sender, t('.sender'), class: "form-label" %>
              <%= form.text_field :sender, class: 'form-control form-control-sm', placeholder: t('common.name'), required: true %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <%= form.label :title, t('.title'), class: "form-label" %>
              <%= form.text_field :title, class: 'form-control form-control-sm', required: true %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <%= form.label :response_type, t('.type_response'), class: "form-label" %>
              <%= form.select :response_type, [t('.whatsapp'), t('common.email'), t('.other')], {}, class: 'form-control form-control-sm' %>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <%= form.label :body, t('.body'), class: "form-label" %>
              <%= form.rich_text_area :body, class: 'form-control form-control', placeholder: t('.full_message'), required: true %>
            </div>
          </div>

          <div class="col-12 text-center">
            <div class="form-group mt-4">
              <%= form.submit t('.send'), class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
