<div>
  <strong><%= t('.sender') %></strong>
   <%= message.sender %>
</div>
<div>  
   <strong><%= t('.title') %></strong>
   <%= message.title %>
</div>
<div>  
   <strong><%= t('.body') %></strong>
   <%= message.body %>
</div>
<div>  
   <strong><%= t('.state') %></strong>
   <%= message.state %>
</div>
<div>  
  <%= link_to t('common.edit'), edit_message_path(message)%>
    
  <%= link_to t('common.delete'), message_path(message), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} %>
</div>
