<h2><%= t('.edit') %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: t("common.email") %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, placeholder: t("common.password") %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: t("common.new_password") %>
  </div>

  <div class="field">
    <%= t('.Enter_current_password_to_confirm_changes')%><br>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "common.accept" %>
  </div>
<% end %>

<%= 'RENDER A DATOS DE CUENTA' %>

<div><%= button_to t('close_account'), registration_path(resource_name), data: { confirm: t('common.Areyousure'), turbo_confirm: t('common.Areyousure') }, method: :delete %></div>

