<ul class="nav justify-content-center">
  <li class="nav-item">
      <%= link_to t('.create_category'), new_category_path,class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t('.create_product'), new_product_path,class:"nav-link active" %>
  </li>
  <li class="nav-item">
     <%= link_to t('.categories'), categories_path,class:"nav-link active" %>
  </li>
  <li class="nav-item">
      <%= link_to t('.users_account'), admin_users_path,class:"nav-link active" %>
  </li>
  <li class="nav-item">
     <%= link_to t('.messages'), messages_path,class:"nav-link active" %>
  </li>
  <li class="nav-item">
      <%=  link_to t('.Configuration'),messages_path,  class:"nav-link active" %>
  </li>
  <li class="nav-item">
     <%= link_to t('common.logout'), destroy_admin_session_path(),class:"nav-link active", data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  }  if admin_session %>
  </li>
</ul>