<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: category) do |form| %>
        <% if category.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
              <% category.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group text-center">
          <%= form.label :name, t('common.name') %>
          <%= form.text_field :name, class: 'form-control' %>
        </div><br>

        <div class="text-center">
          <%= form.submit t('common.accept'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
