
<div>
	<%= user.id %>
	<%= user.email %>
	<%= user.username %>
  
  <%= link_to t('common.edit'), edit_admin_user_path(user) %>
    
  <%= link_to t('common.delete'), admin_user_path(user), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} %>

Ver datos de este usuario
</div>
