<%= form_with(model: product) do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <%= form.hidden_field :admin_id, value: current_admin.id %>
  <div>
    <%= t('.name') %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= t('.price') %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= t('.description') %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= t('.category') %>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
  </div>

  <div>
    <%= t('.photo') %> 
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div>
    <%= form.submit t('common.accept')%>
  </div>
<% end %>
