<%= form_with(model: product) do |form| %>
  <% @product.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div>
  <%= t('common.name') %>
    <%= form.text_field :name %>
  </div>

  <div>
  <%= t('common.price') %>
    <%= form.text_field :price %>
  </div>

  <div>
  <%= t('common.description') %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= t('common.category_id') %>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
  </div>

  <div>
    <%= t('common.photo') %> 
    <%= form.file_field :photos, multiple: true %>
  </div>



  <div>
    <%= form.submit t('common.confirm')%>
  </div>
<% end %>
