<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %> | <%= t('meta_title') %></title>  
    <meta name="viewport" content="width=device-width,initial-scale=1">   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/style.css", media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/notifications" %>
    <%= render 'shared/header' %>
    <% if admin_signed_in? %>
      <%= render 'shared/topBarAdmin' %>
    <% end %>
    <%= render 'shared/topBar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
